.meetVideoContainer {
  position: relative;
  height: 100vh;
  background: radial-gradient(#ffffff, #000000);
}

.meetUserVideo {
  position: absolute;
  bottom: 8.2vh;
  height: 20vh;
  width: auto;
  left: 1vh;
  border-radius: 1.25rem;
}

.buttonContainers {
  position: absolute;
  width: 100vw;
  bottom: 0;
  text-align: center;
  background-color: black;
}

.buttonContainers svg {
  font-size: 3rem;
}

.conferenceView {
  display: flex;
  max-width: 100vw;
  padding: 0.5rem;
  gap: 0.5rem;
  overflow-x: auto;
}

.conferenceView video {
  /* flex-grow flex-shrink flex-basis */
  flex: 1 1 30vw; /* Allows videos to grow, shrink, and sets a preferred width */
  min-width: 20vw; /* Still respects your minimum width */
  height: auto;
  border-radius: 1.25rem;
}

.chatRoom {
  position: absolute;
  margin: 0.4rem 0;
  height: 91vh;
  right: 0;
  background: silver;
  border-radius: 10px;
  width: 30vw;
  padding-inline: 20px;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 1);
}

.chatContainer {
  position: relative;
  height: 100%;
}

.chattingArea {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 0;
}
