.landingPageContainer {
  width: 100vw;
  height: 100vh;
  background-image: url("/public/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.landingPageContainer nav {
  padding-inline: 1.2rem;
  padding-block: 1.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.landingPageContainer nav h2 {
  font-size: 1.8rem;
  font-weight: 600;
  cursor: pointer;
}

.landingPageContainer nav .navList {
  display: flex;
  gap: 1.6rem;
  cursor: pointer;
}

.landingMainContainer {
  display: flex;
  justify-content: space-between;
  padding-inline: 2.2rem;
  align-items: center;
  padding-top: 10vh;
}

.leftMainContainer {
  font-size: 2.2rem;
}

.leftMainContainer div[role="button"] {
  background-color: #d97500;
  width: fit-content;
  padding: 0 0.8rem 0.8rem 0.8rem;
  margin-top: 2rem;
  border-radius: 0.5rem;
}

.leftMainContainer div[role="button"] a {
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
}

.rightMainContainer img {
  height: 70vh;
  width: auto;
}

.navBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 20px;
  text-align: center;
  padding-top: 1rem;
}
.meetContainer {
  display: flex;
  padding-inline: 20px;
  height: 80vh;
  gap: 10vw;
  justify-content: center;
}

.leftPanel {
  height: 100%;
  display: flex;
  align-items: center;
}

.rightPanel {
  display: flex;
  align-items: center;
}

.rightPanel > img {
  width: 40vw;
  height: auto;
  border-radius: 20px;
}
